@page "/Service/Create"
@using Junct.WASM.Hosted.Shared.Models

@inject HttpClient Http
@inject NavigationManager NavigationManager

<Container Fluid="true">
    <Label>Name</Label>
    <TextEdit Placeholder="Name" @bind="@service.Name" />
    <Label>Description</Label>
    <TextEdit Placeholder="Description" @bind="@service.Description" />
    <Buttons Role="ButtonsRole.Toolbar">
        <Buttons>
            <Button Type="ButtonType.Button" Clicked="@Create" Color="Color.Info">Submit</Button>
            <Button Type="ButtonType.Button" Clicked="@Cancel" Color="Color.Secondary">Cancel</Button>
        </Buttons>
    </Buttons>
</Container>

@code {
    Service service = new Service();

    protected async Task Create()
    {
        await Http.PostAsJsonAsync("api/ServicesController", service);
        NavigationManager.NavigateTo("/Service");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/Service");
    }
}