@using Junct.WASM.Hosted.Shared.Models

@inject HttpClient Http
@inject NavigationManager NavigationManager

<DataGrid TItem="Service"
          Data="@services">
    <ChildContent>
        <DataGridCommandColumn TItem="Service"
                               NewCommandAllowed="true"
                               EditCommandAllowed="true"
                               DeleteCommandAllowed="true"
                               CancelCommandAllowed="true"
                               SaveCommandAllowed="true" />
        <DataGridColumn TItem="Service" Field="@nameof(Service.Name)" Caption="Name" Editable="true" Sortable="true" />
        <DataGridColumn TItem="Service" Field="@nameof(Service.Description)" Caption="Description" Editable="true" Sortable="true" />
        <DataGridDateColumn TItem="Service" Field="@nameof(Service.Address)" Caption="Address" Editable="true" Sortable="true" />
    </ChildContent>
    <EmptyTemplate>
        <div class="box">
            No Services Found!
        </div>
    </EmptyTemplate>
    <LoadingTemplate>
        <div class="box">
            <progress class="progress is-small is-primary" max="100" />
        </div>
    </LoadingTemplate>
</DataGrid>

@code {
    Service[] services;
    int totalServices;

    async Task LoadEventsFromService(DataGridReadDataEventArgs<Service> s)
    {
        var response = await Http.GetFromJsonAsync<Service[]>("api/ServicesController");

        services = response.ToArray();
        totalServices = response.Count();


        StateHasChanged();
    }
}