@using Junct.WASM.Hosted.Shared.Models

@inject HttpClient Http
@inject NavigationManager NavigationManager

<DataGrid TItem="Venue"
          Data="@venues">
    <ChildContent>
        <DataGridCommandColumn TItem="Venue"
                               NewCommandAllowed="true"
                               EditCommandAllowed="true"
                               DeleteCommandAllowed="true"
                               CancelCommandAllowed="true"
                               SaveCommandAllowed="true" />
        <DataGridColumn TItem="Venue" Field="@nameof(Venue.Name)" Caption="Name" Editable="true" Sortable="true" />
        <DataGridColumn TItem="Venue" Field="@nameof(Venue.Capacity)" Caption="Description" Editable="true" />
        <DataGridDateColumn TItem="Venue" Field="@nameof(Venue.Address)" Caption="Start Date" Editable="true" Sortable="true" />
    </ChildContent>
    <EmptyTemplate>
        <div class="box">
            No Venues Found!
        </div>
    </EmptyTemplate>
    <LoadingTemplate>
        <div class="box">
            <progress class="progress is-small is-primary" max="100" />
        </div>
    </LoadingTemplate>
</DataGrid>

@code {
    Venue[] venues;
    int totalVenues;

    async Task LoadEventsFromService(DataGridReadDataEventArgs<Venue> v)
    {
        var response = await Http.GetFromJsonAsync<Venue[]>("api/VenuesController");

        venues = response.ToArray();
        totalVenues = response.Count();

        StateHasChanged();
    }
}